.wrapper {
	width: 100vw;
	height: 100vh;
	background-color: $sexagenary-color;

	.stripe {
		height: 50%;
		border-bottom-left-radius: 200px;
		background-color: $tertiary-color;
	}
}

.container {
	@include center(1200px);
}
