.btn {
	display: block;
	background-color: $primary-color;
	border: none;
	padding: 3% 10%;
	border-radius: 30px;
	cursor: pointer;
	outline: none;

	&:hover {
		background-color: $secondary-color;
		transition: all 0.4s ease-out;
	}

	&--login {
		width: 80%;
		margin: 5% auto 0;
		@include above(l) {
			width: 60%;
		}
	}

	&--start {
		position: absolute;
		right: 0;
		bottom: -10%;
		padding: 6% 20% 6% 15%;
		border-radius: 0;
		border-top-left-radius: 40px;
		border-bottom-left-radius: 40px;
		text-decoration: none;

		@include above(m) {
			padding-top: 5%;
			padding-bottom: 5%;
		}

		.arrow {
			display: inline-block;
			margin-left: 5%;
			@include align(vertical);
			width: 24px;
			height: 24px;
			background-image: url("../images/icons/right-arrow.png");
		}
	}

	&--del,
	&--new {
		@include column(1/2);
		text-align: center;
		margin-top: 5%;
		margin-bottom: 10%;
		padding: 2% 0%;
		box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.3);
	}

	&--del {
		background: $eightieth-color;

		&:hover {
			background-color: darken($eightieth-color, 10%);
		}
	}

	&--new {
		background-color: $primary-color;

		&:hover {
			background-color: darken($primary-color, 20%);
		}
	}
}
