.ttl-tp1 {
	font-family: 'Raleway-Bold', sans-serif;
	font-size: 2rem;
	@include above(m) {
		font-size: 3.5rem;
	}
	color: $quaternary-color;
	line-height: 1.2;
	letter-spacing: 1px;
}

.ttl-tp2 {
	@extend .ttl-tp1;
	font-size: 2.5rem;
}

.ttl-tp3 {
	font-family: 'Raleway-Medium';
	font-size: 2rem;
	color: $quinternary-color;
	line-height: 1.5;
	letter-spacing: 1px;
}

.ttl-tp4 {
	font-family: 'Raleway-Bold';
	font-size: 1.3rem;
	color: $quinternary-color;
	line-height: 1.5;
	letter-spacing: 1px;
}

.btn {
	font-family: 'Raleway-Bold';
	font-size: 0.8rem;
	@include above(m) {
		font-size: 0.9rem;
	}
	letter-spacing: 1px;
	color: $quaternary-color;
	text-transform: uppercase;
}

p {
	font-family: 'Raleway-Medium';
	font-size: 1rem;
	line-height: 1.2rem;
	letter-spacing: 1px;
	color: $quinternary-color;
}

a {
	font-family: 'Raleway-Medium';
	font-size: 0.8rem;
	@include above(m) {
		font-size: 1rem;
	}
	color: $quaternary-color;
	text-transform: uppercase;
	letter-spacing: 1px;
}

input {
	font-family: 'Raleway';
	color: $quinternary-color;
	font-size: 0.8rem;
	@include above(m) {
		font-size: 1rem;
	}
	letter-spacing: 1px;
}
