.banner {
  width: 100%;
  height: 80%;
  background: url('/assets/images/banner-welcome.jpg') no-repeat center;
  background-size: cover;

  @include above(m){
    width: 100vw;
    height: 100vh;
  }
}