.btn {
	display: block;
	background-color: $primary-color;
	border: none;
	padding: 3% 10%;
	border-radius: 30px;
	cursor: pointer;

	&:hover {
		background-color: $secondary-color;
		transition: all 0.4s ease-out;
	}

	&--start {
		text-decoration: none;
		border-radius: 0;
		border-top-left-radius: 40px;
		border-bottom-left-radius: 40px;
		padding: 5% 20% 5% 15%;
		position: absolute;
		right: 0;
		bottom: -10%;

		.arrow {
			display: inline-block;
			margin-left: 15px;
			@include align(vertical);
			width: 24px;
			height: 24px;
			background: url('/assets/images/right-arrow.png') no-repeat center;
		}
	}
}
