.message {
  width: 30%;
  background-color: $tertiary-color;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 110px;
  padding: 5.5% 4%;
  position: absolute;
  right: 0;
  bottom: 15%;
}