.form {
	width: 100%;

	&__control {
		background-color: $quaternary-color;
		padding: 13% 10%;
		border-radius: 30px;
		text-align: center;

		input {
			width: 100%;
			border: none;
			border-bottom: 1px solid $sexagenary-color;
			padding: 5% 0;
			margin-bottom: 8%;

			&::placeholder {
				opacity: 0.3;
			}
		}
	}
}
