.list {
	text-align: center;
	@include clearfix();

	&__item {
		@include column(1/2, $gutter: 0);

		&__link {
			display: block;
			text-decoration: none;
			padding: 4%;
			margin-bottom: 2%;

			&:after {
				content: '';
				display: block;
				margin-top: 5%;
				@include center();
				width: 0;
				height: 2px;
				background-color: $quaternary-color;
				transition: width 0.3s;
			}

			&:hover::after {
				width: 70%;
			}
		}
	}
}
