.form {
	width: 100%;

	&__control {
		background-color: $quaternary-color;
		padding: 10%;
		border-radius: 30px;
		text-align: center;

		input {
			width: 100%;
			border: none;
			border-bottom: 1px solid $sexagenary-color;
			padding: 5% 0;
			margin-bottom: 2%;
			transition: 0.1s border-color ease-out;

			&:focus {
				outline: none;
			}

			&.error {
				color: $eightieth-color;
				border-color: $eightieth-color;
			}

			&.success {
				border-color: $primary-color;
			}
		}

		label.error {
			display: block;
			font-family: "Raleway-Medium";
			font-size: 0.8rem;
			text-align: left;
			color: $eightieth-color;
		}
	}
}
