.posts {
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 10%;
	box-sizing: border-box;

	@include above(m) {
		@include column(8/12);
		padding-right: 0;
	}

	&__item {
		margin-bottom: 20%;

		@include above(m) {
			margin-bottom: 10%;
		}

		&__avatar {
			display: inline-block;
			margin-right: 2%;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background: url('../images/leo-spencer.jpg');
			background-size: cover;
			box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.3);
		}

		&__description {
			margin-top: 5%;

			@include above(m) {
				margin-top: 2%;
			}
		}

		.info {
			display: inline-block;
			margin-bottom: 2%;

			&__date {
				display: block;
				margin-bottom: 10%;
				color: $seventieth-color;
				font-family: 'Raleway';
				font-size: 0.9rem;

				@include above(m) {
					margin-bottom: 2%;
				}
			}
		}
	}
}
