.sign-in {
	width: 80%;
	@include align(both);
	@include above(m) {
		@include center(30%);
	}

	.btn {
		margin-top: 8%;
		@include align(horizontal);
		@include above(m) {
			margin-top: 5%;
		}
	}
}
